<section class=" bg-slate-50 flex flex-col items-center col-span-2 border-r-4 border-r-slate-100 py-8 h-screen shadow-2xl">

    <div class="flex flex-row items-center justify-center gap-4 px-5 py-2 w-full">
        <span class="font-semibold text-xl text-blue-800 uppercase tracking-widest ">Panel</span>
    </div>

    <div class=" flex flex-col gap-4 w-full py-5">
        <span class=" px-5 text-sm text-blue-800 uppercase font-semibold ">Dashboard</span>
        <div class="flex flex-col gap-2 py-4">

            <button class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-3">
                <mat-icon class="text-blue-700" fontIcon="apps"></mat-icon>
                <span class="uppercase">Tablero</span>
            </button>

            <button class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-3">
                <mat-icon class="text-blue-700" fontIcon="assessment icon"></mat-icon>
                <span class="uppercase">Estadisticas de Cobros</span>
            </button>

            <button class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-3">
                <mat-icon class="text-blue-700" fontIcon="people icon"></mat-icon>
                <span class="uppercase">Cobradores</span>
            </button>

            <button class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-3">
                <mat-icon class="text-blue-700" fontIcon="power_settings_new power settings new icon"></mat-icon>
                <span class="uppercase">Log Out</span>
            </button>
        </div>
    </div>

</section>
