<section class=" bg-slate-50 flex flex-col items-center col-span-2 border-r-2 border-r-slate-50 py-8 h-screen shadow-2xl">
    <img src="../../../../assets/logo.svg" alt="">
    <div class=" flex flex-col gap-4 w-full py-5">
        <div class="flex flex-col gap-2 py-4">

            <button class="px-6 flex flex-row gap-3 items-center hover:bg-slate-100 py-3 text-blue-600 uppercase">
                <mat-icon class="" fontIcon="apps"></mat-icon>
                <span class="">Tablero</span>
            </button>

            <button class="px-6 flex flex-row gap-3 items-center hover:bg-slate-100 py-3 text-blue-600 uppercase">
                <mat-icon class="" fontIcon="assessment icon"></mat-icon>
                <span class="">Estadisticas de Cobros</span>
            </button>

            <button class="px-6 flex flex-row gap-3 items-center hover:bg-slate-100 py-3 text-blue-600 uppercase">
                <mat-icon class="" fontIcon="people icon"></mat-icon>
                <span class="">Cobradores</span>
            </button>

            <button class="px-6 flex flex-row gap-3 items-center uppercase hover:bg-red-200 text-blue-600 hover:text-red-600 py-3">
                <mat-icon class="" fontIcon="power_settings_new power settings new icon"></mat-icon>
                <span class="">Log Out</span>
            </button>
        </div>
    </div>

</section>
