<section class=" bg-slate-50 flex flex-col items-center col-span-2 border-r-4 border-r-slate-100 py-8 h-screen">

    <div class="flex flex-row items-center justify-center gap-4 px-5 py-2 w-full">
        <span class="font-semibold text-xl text-color-custome uppercase tracking-widest ">Recollector Chamos</span>
    </div>

    <div class=" flex flex-col gap-4 w-full py-5">
        <span class=" px-5 text-sm text-blue-500 uppercase font-semibold ">Dashboard</span>
        <hr>

        <div class="flex flex-col gap-2 py-4">

            <div class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-2">
                <mat-icon class="text-violet-400" fontIcon="apps"></mat-icon>
                <span class="uppercase">Tablero</span>
            </div>

            <div class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-2">
                <mat-icon class="text-violet-400" fontIcon="assessment icon"></mat-icon>
                <span class="uppercase">Estadisticas de Cobros</span>
            </div>

            <div class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-2">
                <mat-icon class="text-violet-400" fontIcon="people icon"></mat-icon>
                <span class="uppercase">Cobradores</span>
            </div>

            <div class="px-4 flex flex-row gap-3 items-center hover:bg-slate-200 py-2">
                <mat-icon class="text-violet-400" fontIcon="power_settings_new power settings new icon"></mat-icon>
                <span class="uppercase">Log Out</span>
            </div>


        </div>
    </div>

</section>



<style>
    .text-color-custome {
        color: #818cf8
    }
</style>