
/* .mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
} */

.demo-row-is-clicked {
  font-weight: 900;
}

.mat-mdc-header-cell {
  font-weight: bold;
  text-align: start;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-top-width: 2px;
  border-bottom-width: 2px;
  cursor: pointer;
}