<div class="upload-container">
  <label for="file-input">
    <div class="cursor-pointer w-full rounded-md bg-slate-50 
                items-center justify-center py-3
                border-2 border-slate-400 border-dotted">
      <div class="flex flex-col items-center gap-1">
        <mat-icon class="text-slate-300" fontIcon="backup icon"></mat-icon>
        <span class="text-sm font-medium">Buscar Archivos</span>
        <span class="text-xs text-slate-400">Arrastre y Suelte archivos aquí</span>
      </div>
    </div>
  </label>
  <input id="file-input" type="file" multiple (change)="onFilesSelected($event)" />
</div>

<div *ngIf="selectedFiles.length > 0" class="file-list mt-4">
  <ul class="list-none flex flex-col gap-2">
    <li *ngFor="let file of selectedFiles" class="w-full flex items-center p-2 bg-blue-50 rounded-md text-black">
      
      <mat-icon class="text-slate-500" fontIcon="folder"></mat-icon>

      <div class="flex justify-between w-full ml-3">
        <span class="font-medium">{{ file.name }}</span>
        <span class="text-sm text-slate-500">{{ (file.size / 1024) | number:'1.0-2' }} KB</span>
      </div>

      <div class="ml-3">
        <mat-icon  class="text-slate-500 hover:text-red-700 cursor-pointer" fontIcon="delete" (click)="removeFile(file)"></mat-icon>
      </div>
    </li>
  </ul>
</div>