<section class="border-2 border-slate-100 shadow-2xl max-w-3xl mx-auto">
    <header class="px-14 py-7 border-b-2 border-slate-100">
        <h1 class="font-medium text-3xl">Formulario de cobranza</h1>
    </header>

    <div class="border-y-2 border-slate-100 p-10 flex flex-col gap-8">

        <!-- Sección 1 -->
        <div class="flex flex-col gap-4">
            <label for="nombre" class="font-medium">Nombre *</label>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre"
                    class="border border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido"
                    class="border border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200">

            </div>
        </div>

        <!-- Sección 2 -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col gap-2">
                <label for="doi" class="font-medium">Número de documento de identidad *</label>
                <input appCurrencyFormat type="text" name="doi" id="doi" placeholder="DOI"
                    class="border border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200">
            </div>
            <div class="flex flex-col gap-2">
                <label for="fecha-visita" class="font-medium">Fecha de visita *</label>
                <!-- <input type="date" name="fecha-visita" id="fecha-visita"
                    class="border border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200">
                         -->
                <mat-form-field>
                   <!-- <mat-label>MM-DD-AAAA</mat-label> -->
                   <input matInput [matDatepicker]="picker">
                   <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                   <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <!-- Sección 3 -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col gap-2">
                <label for="hora-visita" class="font-medium">Hora de visita *</label>
                <input type="time" name="hora-visita" id="hora-visita"
                    class="border border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200">
                    
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-medium">¿Hubo contacto en vivo con el cliente visitado? *</label>
                <div class="flex flex-col  gap-4">
                    <label class="flex items-center gap-2">
                        <input type="radio" name="contacto" id="contacto-si" class="text-red-500">
                        Sí
                    </label>
                    <label class="flex items-center gap-2">
                        <input type="radio" name="contacto" id="contacto-no" class="text-red-500">
                        No
                    </label>
                </div>
            </div>
        </div>

        <!-- Sección 4 -->
        <div class="flex flex-col gap-4">
            <span class="font-medium">Recomendación de horarios para futuras visitas *</span>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 font-normal">
                <label class="flex items-center gap-2">
                    <!-- <input type="checkbox" name="horario" value="7-8am" class="focus:ring-indigo-500"> -->
                    <input id="helper-checkbox" aria-describedby="helper-checkbox-text" type="checkbox" value=""
                        class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">

                    7 am - 8am

                </label>
                <label class="flex items-center gap-2">
                    <input type="checkbox" name="horario" value="8-9am" class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">
                    8 am - 9am
                </label>
                <label class="flex items-center gap-2">
                    <input type="checkbox" name="horario" value="manana" class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">
                    Toda la mañana
                </label>
                <label class="flex items-center gap-2">
                    <input type="checkbox" name="horario" value="mediodia" class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">
                    Al mediodía
                </label>
                <label class="flex items-center gap-2">
                    <input type="checkbox" name="horario" value="1-3pm" class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">
                    1 pm - 3pm
                </label>
                <label class="flex items-center gap-2">
                    <input type="checkbox" name="horario" value="4-5pm" class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">
                    4 pm - 5pm
                </label>
                <label class="flex items-center gap-2">
                    <input type="checkbox" name="horario" value="5-6pm" class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">
                    5 pm - 6pm
                </label>
                <label class="flex items-center gap-2">
                    <input type="checkbox" name="horario" value="7-8pm" class="accent-violet-500 scale-125 rounded-md border border-blue-gray-200 transition-all duration-300 hover:border-violet-200 hover:before:opacity-10 checked:bg-teal-500">
                    7 pm - 8pm
                </label>
            </div>
        </div>

        <!-- Sección 5 -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col gap-2">
                <span class="font-medium">¿Compromiso de Pago? *</span>
                <div class="flex flex-col gap-4">
                    <label class="flex items-center gap-2">
                        <input type="radio" name="compromiso-pago" value="si">
                        Sí
                    </label>
                    <label class="flex items-center gap-2">
                        <input type="radio" name="compromiso-pago" value="no">
                        No
                    </label>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <label for="fecha-compromiso" class="font-medium">Fecha de compromiso de pago</label>
                <!-- <input type="date" name="fecha-compromiso" id="fecha-compromiso" class="border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200"> -->
                <mat-form-field>
                    <!-- <mat-label>MM-DD-AAAA</mat-label> -->
                    <input matInput [matDatepicker]="picker2">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 startView="year" [startAt]="startDate2"></mat-datepicker>
                 </mat-form-field>
                
            </div>
        </div>

        <!-- Sección 6 -->
        <div class="flex flex-col gap-4">
            <span class="font-medium">¿Se entregó la carta?</span>
            <div class="flex flex-col gap-4">
                <label class="flex items-center gap-2">
                    <input type="radio" name="entrega-carta" value="si" class="text-red-500">
                    Sí
                </label>
                <label class="flex items-center gap-2">
                    <input type="radio" name="entrega-carta" value="no" class="text-red-500">
                    No
                </label>
            </div>
        </div>

        <!-- Sección 7 -->
        <div class="flex flex-col gap-4">
            <label for="comentarios-relevantes" class="font-medium">Comentarios Relevantes</label>
            <textarea name="comentarios-relevantes" id="comentarios-relevantes" class="w-full border border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200"></textarea>
        </div>

        <!-- Sección 8 -->
        <div class="flex flex-col gap-4">
            <label for="archivos-relevantes" class="font-medium">Carga de archivos relevantes, foto de la casa,
                ubicación de la moto, foto con el cliente</label>
            <app-input-files />
        </div>


        <!-- Sección 9 -->
        <div class="flex flex-col gap-4">
            <label for="cobrador" class="font-medium">Cobrador *</label>
            <input type="text" name="cobrador" id="cobrador"
                class="w-6/12 border border-slate-400  hover:border-blue-500 hover:shadow-lg hover:shadow-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-500 px-4 py-3 rounded-md transition ease-in-out duration-200">
        </div>

    </div>

    <footer class="px-14 py-5 border-b-2 border-slate-100 text-center shadow-lg">
        <button class="bg-green-600 hover:bg-green-500 px-10 py-3 text-white font-normal text-sm rounded">
            Enviar
        </button>
    </footer>

</section>